*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

/* header della pagina */
header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255); 
    line-height: 100px;   
}

 #logo{
    height: 70%;
    margin-left: 25px;
    vertical-align: middle;
 }

 h1{
    display: inline-block;
    vertical-align: middle;
    font-weight:800;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* caratteristiche dei container */
.container{ 
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;

}

.first{
    margin-top: 60px;
    width: 900px;
    height: 50px;
}

.second{  
    margin-top: 5px;
    margin-bottom: 20px;
    width: 900px;
    height: 600px;
}

/* caratteristiche del nav */
nav{
    line-height: 50px;
    margin-left: 50px;
}

#task{
    background-color: rgb(0, 174, 255);
    border-color: rgb(0, 174, 255);
    color: aliceblue;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}

#section{
    background-color: rgb(255, 255, 255);
    border-color: lightgrey;
    color: lightgray;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin-left: 3px;
}
/* caratteristiche main */
ul{
    list-style-type: none;
    margin-left: 50px;
}
li{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

/* caratteristiche testo lista */
.text-li{
    font-weight:normal;
    line-height: 20px;
    margin-top: 10px;
}

/* layout check */
.spunta{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(0, 255, 47);
    color: rgb(34, 255, 0);
}

/* layout x */
.nonspunta{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    border: 1px solid red;
    color: red;
}

/* riquadri fine testo */
.square{
    display: inline-block;
    height: 30px;
    width: 80px;
    vertical-align: middle;
    border-radius: 15px;
    margin:0;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
}

/* colori riquadri fine testo  */
.uno{
    background-color: rgb(3, 129, 255);
    
}
#due{ background-color:  rgb(188, 8, 238);
  
}
.tre{
    background-color: rgb(0, 173, 150);
}
.quattro{
    background-color: rgb(255, 121, 3);
}
.cinque{
    background-color:rgb(255, 0, 162) ;
}
.sei{
    background-color: rgb(31, 195, 91);
}



